@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Iceberg&family=Libre+Franklin:wght@100&family=Roboto+Condensed:wght@300&display=swap')
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/container.css");


title {
	font-family: 'Iceberg', cursive;
	font-size: 125px ;
	justify-content: center;
   }


h2 {
	display: flex;
  justify-content: space-between;
	width: 600px;
	vertical-align: top;
  font-family: 'Iceberg', cursive;  
  justify-content: flex-end;
  font-size: 52px
}
h3{
		display: flex;
  justify-content: space-between;
	width: 600px;
	vertical-align: top;
  font-family: 'Iceberg', cursive;  
  justify-content: flex-end;
  font-size: 60px
}
h4 {
	display: flex;
  justify-content: space-between;
	width: 600px;
	vertical-align: top;
  font-family: 'Iceberg', cursive;  
  justify-content: flex-end;
  font-size: 55px
}
h5{
	display: flex;
  justify-content: space-between;
	width: 600px;
	vertical-align: top;
  font-family: 'Iceberg', cursive;  
  justify-content: flex-end;
  font-size: 55px
}
h6 {
	display: flex;
  justify-content: space-between;
	width: 600px;
	vertical-align: top;
  font-family: 'Iceberg', cursive;  
  justify-content: flex-end;
  font-size: 53px
}

body {
	font-family: 'Iceberg', cursive; 
	font-size: 50px;
}


